@import "title";
body.post-type-wps-product #post-body-content {
	margin-bottom: 0;
}
body.post-type-wps-product .wrap {
	margin-top: 30px !important;
}
body.post-type-wps-product h1.wp-heading-inline {
	display: none !important;
}
