.wpeo-table.table-flex {
	.reference-id {
		margin: 0;

		li {
			display: inline-block;
			margin: 0 0.6em 0 0;
			color: rgba(0,0,0,0.4);

			&:last-child {
				margin: 0;
			}
		}
	}

	.reference-title {
		font-size: 20px;

		a {
			color: rgba(0,0,0,0.8);
			@include transition();
			text-decoration: none;

			&:hover {
				color: rgba(0,0,0,0.5);
			}
		}
	}

	.reference-content {
		font-size: 14px;
		margin: 0.2em 0;

		i {
			color: rgba(0,0,0,0.2);
		}
	}

	.reference-actions {
		margin: 0.6em 0 0 0;
		line-height: 1;
		opacity: 0;
		pointer-events: none;
		@include transition();

		li {
			display: inline-block;
			margin: 0 0.3em 0 0;
			padding-right: 0.3em;
			border-right: 1px solid rgba(0,0,0,0.2);

			a {
				color: $color__primary;
				text-decoration: none;

				&:hover {
					color: rgba( $color__primary, 0.7 );
				}
			}
			&.delete a {
				color: $color__red;

				&:hover {
					color: rgba( $color__red, 0.7 );
				}
			}
			&:last-child {
				margin: 0;
				padding: 0;
				border-right: 0;
			}
		}
	}
	.table-row {
		&:hover .reference-actions {
			opacity: 1;
			pointer-events: all;
		}
	}
}
