.wps-list-box .wps-box {
	background: rgba(0,0,0,0.075);
	padding: 1em;
	margin-bottom: 1em;
}

.wps-list-box .wps-box .wps-box-resume {
	display: flex;

	> * {
		margin: auto 0;
	}

	.wps-box-primary {
		width: 100%;

		.wps-box-title {
			font-size: 20px;
			color: rgba(0,0,0,0.9);
			line-height: 1.2;
		}
		.wps-box-attributes {
			display: flex;
			margin: 0;
			padding: 0;

			.wps-box-subtitle-item {
				list-style-type: none;
				margin: 0 0.5em 0 0;
				color: rgba(0,0,0,0.4);
				font-size: 14px;
			}
			.wps-box-subtitle-icon {
				margin-right: 0.2em;
			}
		}
		.wps-box-display-more {
			color: $color__primary;
			font-size: 14px;
			margin-top: 0.6em;
			@include transition;

			&:hover {
				cursor: pointer;
				opacity: 0.6;
			}
			&.active .wps-box-display-more-icon::before {
				content: fa-content( $fa-var-angle-down );
			}
		}
	}

	.wps-box-secondary {
		text-align: right;
		padding: 0 1.2em;

		.wps-box-status {
			font-size: 14px;
			font-weight: 700;
			line-height: 1;

			.wps-box-status-dot {
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: rgba(0,0,0,0.8);
				margin-right: 0.2em;
			}
		}
		.wps-box-price {
			font-weight: 700;
			font-size: 35px;
		}
	}
	.wps-box-action {
		display: flex;

		> * {
			margin: auto 0;
		}
	}
}

.wps-list-box .wps-box .wps-box-detail {
	display: none;
}
