.wps-metabox {
	background: #fff;
	padding: 2em;
	position: relative;

	.metabox-title {
		font-weight: 300;
		font-size: 22px;
		margin: 0 0 1em 0;
	}
	.metabox-edit {
		position: absolute;
		top: 1em;
		right: 1em;
	}
}

/** Metabox List */
.wps-metabox {
	.metabox-list-title {
		font-size: 16px;
		margin: 0 0 1em 0;
	}

	.metabox-list {
		margin: 0;

		li {
			margin: 0;

			span {
				font-weight: 700;
				margin-right: 0.4em;
			}
		}
	}
}
