.page-header {
	display: flex;
	padding-top: 9px;
	margin-bottom: 1.8em;

	h2 {
		font-size: 23px;
		font-weight: 400;
		margin: 0;
		padding: 0;
		line-height: 29px;
	}
	.wps-edit-title {
		margin: 0 0.6em;
		vertical-align: top;
	}
	.wps-sync {
		margin: auto 1em;
	}
}
