/** Synchro */
.wps-sync {
	.button-synchro {
		float: left;
		width: 25px;
		height: 25px;
		background: rgba(0,0,0,0.1);
		color: rgba(0,0,0,0.6);
		text-align: center;
		line-height: 25px;
		border-radius: 50%;
		@include transition();

		i {
			@include transition();
		}

		&:hover {
			cursor: pointer;
			background: rgba(0,0,0,0.2);

			i {
				transform: rotate(180deg);
			}
		}
	}

	.statut {
		float: left;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		margin-left: 0.6em;
		background: rgba(0,0,0,0.1);

		&.statut-grey {
			background: $color__grey;
		}
		&.statut-green {
			background: $color__green;
		}
		&.statut-orange {
			background: $color__yellow;
		}
		&.statut-red {
			background: $color__red;
		}
	}
}
