.wps-cart, .wps-checkout {
	.wps-process-checkout-button {
		display: block;
		float: none;
		width: 100%;
		text-align: center;
		border-radius: 6px;
		margin: 1em 0;
		text-decoration: none !important;
	}
}

a.wpeo-button {
	background-color: #0088FF;
}

.wpeo-button {
    display: inline-block;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    text-decoration: none;
    padding: 6px 14px;
    line-height: 1.4;
    vertical-align: middle;
    height: auto;
    border-radius: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: relative;
    border-width: 3px;
    border-style: solid;
    font-size: 16px;
    background: #1897e7;
    border-color: #1897e7;
    color: #fff
}