@charset "UTF-8";
/**
 * CSS générer par GULP grâce à la cmd "npm-start".
 *
 * Toute modification sur un fichier *.scss lance la compilation de tous les *.scss vers ce fichier.
 *
 * @since 2.0.0
 */
/* Bleu ciel, couleur principale */
/* Bleu fonce, couleur de l'interface */
/* Autres couleurs */
.wpeo-autocomplete .autocomplete-label:hover {
  border: 1px solid #1897e7;
}

.wpeo-autocomplete .autocomplete-label .autocomplete-loading {
  background: #1897e7;
}

.wpeo-autocomplete .autocomplete-label .autocomplete-loading-background {
  background: rgba(24, 151, 231, 0.4);
}

.wpeo-button, a.wpeo-button {
  /* par défaut */
  background: #1897e7;
  border-color: #1897e7;
}

.wpeo-button.button-main, a.wpeo-button.button-main {
  background: #1897e7;
  border-color: #1897e7;
}

.wpeo-button.button-dark, a.wpeo-button.button-dark {
  background: #272a35;
  border-color: #272a35;
}

.wpeo-button.button-grey, a.wpeo-button.button-grey {
  background: #ececec;
  border-color: #ececec;
}

.wpeo-button.button-red, a.wpeo-button.button-red {
  background: #e05353;
  border-color: #e05353;
}

.wpeo-button.button-yellow, a.wpeo-button.button-yellow {
  background: #e9ad4f;
  border-color: #e9ad4f;
}

.wpeo-button.button-green, a.wpeo-button.button-green {
  background: #47e58e;
  border-color: #47e58e;
}

.wpeo-button.button-pink, a.wpeo-button.button-pink {
  background: #e454a2;
  border-color: #e454a2;
}

.wpeo-button.button-purple, a.wpeo-button.button-purple {
  background: #898de5;
  border-color: #898de5;
}

.wpeo-button.button-grey, a.wpeo-button.button-grey {
  background: #ececec;
  border-color: #ececec;
}

.wpeo-button.button-transparent, a.wpeo-button.button-transparent {
  background: transparent;
  border-color: transparent;
}

.wpeo-button.button-bordered {
  border-color: #1897e7;
  color: #1897e7;
}

.wpeo-button.button-bordered.button-main {
  border-color: #1897e7;
  color: #1897e7;
}

.wpeo-button.button-bordered.button-main:hover {
  box-shadow: inset 0 -2.6em #1897e7;
}

.wpeo-button.button-bordered.button-dark {
  border-color: #272a35;
  color: #272a35;
}

.wpeo-button.button-bordered.button-dark:hover {
  box-shadow: inset 0 -2.6em #272a35;
}

.wpeo-button.button-bordered.button-grey {
  border-color: #ececec;
  color: #a0a0a0;
}

.wpeo-button.button-bordered.button-grey:hover {
  box-shadow: inset 0 -2.6em #ececec;
}

.wpeo-button.button-bordered.button-red {
  border-color: #e05353;
  color: #e05353;
}

.wpeo-button.button-bordered.button-red:hover {
  box-shadow: inset 0 -2.6em #e05353;
}

.wpeo-button.button-bordered.button-yellow {
  border-color: #e9ad4f;
  color: #e9ad4f;
}

.wpeo-button.button-bordered.button-yellow:hover {
  box-shadow: inset 0 -2.6em #e9ad4f;
}

.wpeo-button.button-bordered.button-green {
  border-color: #47e58e;
  color: #47e58e;
}

.wpeo-button.button-bordered.button-green:hover {
  box-shadow: inset 0 -2.6em #47e58e;
}

.wpeo-button.button-bordered.button-pink {
  border-color: #e454a2;
  color: #e454a2;
}

.wpeo-button.button-bordered.button-pink:hover {
  box-shadow: inset 0 -2.6em #e454a2;
}

.wpeo-button.button-bordered.button-purple {
  border-color: #898de5;
  color: #898de5;
}

.wpeo-button.button-bordered.button-purple:hover {
  box-shadow: inset 0 -2.6em #898de5;
}

.wpeo-button.button-bordered.button-grey {
  border-color: #ececec;
  color: #ececec;
}

.wpeo-button.button-bordered.button-grey:hover {
  box-shadow: inset 0 -2.6em #ececec;
}

.wpeo-button.button-bordered:hover {
  box-shadow: inset 0 -2.6em #1897e7;
}

/** Progress button */
.wpeo-button.button-progress.button-success {
  background: #47e58e;
  border-color: #47e58e;
}

.wpeo-button.button-progress.button-error {
  background: #e05353;
  border-color: #e05353;
}

.wpeo-button.button-progress.button-load {
  background: #ececec;
}

.wpeo-button.button-progress.button-load:before {
  border-top: 3px solid #1897e7;
}

.wpeo-form .form-element input[type="checkbox"].form-field:not(:checked) + label:hover::before {
  box-shadow: 0 0 0 2px #1897e7;
}

.wpeo-form .form-element input[type="checkbox"].form-field:checked + label::before {
  box-shadow: 0 0 0 2px #1897e7;
  background: #1897e7;
}

.wpeo-form .form-element input[type="radio"].form-field:hover {
  border: 1px solid #1897e7;
  box-shadow: 0 0 0 1px #1897e7 inset;
}

.wpeo-form .form-element input[type="radio"].form-field:checked {
  border: 1px solid #1897e7;
  box-shadow: 0 0 0 4px #1897e7 inset;
}

.wpeo-loader .loader-spin {
  border-top: 3px solid #1897e7;
}

.wpeo-modal .modal-container .modal-header .modal-close:hover {
  color: #1897e7;
}

.wpeo-notification .notification-title a {
  color: #1897e7;
}

.wpeo-notification .notification-close:hover {
  color: #1897e7;
}

/** Couleur */
.wpeo-notification.notification-green {
  border-left: 4px solid #47e58e;
}

.wpeo-notification.notification-green .notification-icon {
  color: #47e58e;
}

.wpeo-notification.notification-orange {
  border-left: 4px solid #e9ad4f;
}

.wpeo-notification.notification-orange .notification-icon {
  color: #e9ad4f;
}

.wpeo-notification.notification-red {
  border-left: 4px solid #e05353;
}

.wpeo-notification.notification-red .notification-icon {
  color: #e05353;
}

.wpeo-pagination .pagination-element.pagination-current a {
  background: #1897e7;
}

.wpeo-pagination .pagination-element.pagination-current a:hover {
  background: #1897e7;
}

/* Couleurs */
.wpeo-popover.popover-primary {
  background: #1897e7;
}

.wpeo-popover.popover-primary.popover-top::before {
  border-color: #1897e7 transparent transparent transparent;
}

.wpeo-popover.popover-primary.popover-right::before {
  border-color: transparent #1897e7 transparent transparent;
}

.wpeo-popover.popover-primary.popover-bottom::before {
  border-color: transparent transparent #1897e7 transparent;
}

.wpeo-popover.popover-primary.popover-left::before {
  border-color: transparent transparent transparent #1897e7;
}

.wpeo-popover.popover-light {
  background: #ececec;
  color: rgba(0, 0, 0, 0.6);
}

.wpeo-popover.popover-light.popover-top::before {
  border-color: #ececec transparent transparent transparent;
}

.wpeo-popover.popover-light.popover-right::before {
  border-color: transparent #ececec transparent transparent;
}

.wpeo-popover.popover-light.popover-bottom::before {
  border-color: transparent transparent #ececec transparent;
}

.wpeo-popover.popover-light.popover-left::before {
  border-color: transparent transparent transparent #ececec;
}

.wpeo-popover.popover-red {
  background: #e05353;
}

.wpeo-popover.popover-red.popover-top::before {
  border-color: #e05353 transparent transparent transparent;
}

.wpeo-popover.popover-red.popover-right::before {
  border-color: transparent #e05353 transparent transparent;
}

.wpeo-popover.popover-red.popover-bottom::before {
  border-color: transparent transparent #e05353 transparent;
}

.wpeo-popover.popover-red.popover-left::before {
  border-color: transparent transparent transparent #e05353;
}

.wpeo-tab .tab-list .tab-element {
  /* Active */
}

.wpeo-tab .tab-list .tab-element::before {
  background: #1897e7;
}

.wpeo-tab .tab-list .tab-element.tab-active {
  color: #1897e7;
}

.wpeo-tab .tab-list .tab-element.tab-active > a {
  color: #1897e7;
}

/* Vertical */
.wpeo-tab.tab-vertical .tab-list .tab-element {
  /* Active */
}

.wpeo-tab.tab-vertical .tab-list .tab-element.tab-active {
  color: #1897e7;
}

.wpeo-tab.tab-vertical .tab-list .tab-element.tab-active a {
  color: #1897e7;
}

/** Ligne entete */
.wpeo-table.table-flex .table-row.table-header {
  background: #1897e7;
}

/* Header, footer */
.wpeo-table > thead, .wpeo-table > tfoot {
  background: #272a35;
}

@media (max-width: 480px) {
  .wpeo-table > tbody td:before, .wpeo-table > tbody th:before {
    color: #1897e7;
  }
}

/* Couleurs */
.wpeo-tooltip.tooltip-primary {
  background: #1897e7;
}

.wpeo-tooltip.tooltip-primary.tooltip-top::before {
  border-color: #1897e7 transparent transparent transparent;
}

.wpeo-tooltip.tooltip-primary.tooltip-right::before {
  border-color: transparent #1897e7 transparent transparent;
}

.wpeo-tooltip.tooltip-primary.tooltip-bottom::before {
  border-color: transparent transparent #1897e7 transparent;
}

.wpeo-tooltip.tooltip-primary.tooltip-left::before {
  border-color: transparent transparent transparent #1897e7;
}

.wpeo-tooltip.tooltip-light {
  background: #ececec;
  color: rgba(0, 0, 0, 0.6);
}

.wpeo-tooltip.tooltip-light.tooltip-top::before {
  border-color: #ececec transparent transparent transparent;
}

.wpeo-tooltip.tooltip-light.tooltip-right::before {
  border-color: transparent #ececec transparent transparent;
}

.wpeo-tooltip.tooltip-light.tooltip-bottom::before {
  border-color: transparent transparent #ececec transparent;
}

.wpeo-tooltip.tooltip-light.tooltip-left::before {
  border-color: transparent transparent transparent #ececec;
}

.wpeo-tooltip.tooltip-red {
  background: #e05353;
}

.wpeo-tooltip.tooltip-red.tooltip-top::before {
  border-color: #e05353 transparent transparent transparent;
}

.wpeo-tooltip.tooltip-red.tooltip-right::before {
  border-color: transparent #e05353 transparent transparent;
}

.wpeo-tooltip.tooltip-red.tooltip-bottom::before {
  border-color: transparent transparent #e05353 transparent;
}

.wpeo-tooltip.tooltip-red.tooltip-left::before {
  border-color: transparent transparent transparent #e05353;
}

.wpeo-button {
  box-sizing: border-box;
}

.wpeo-button.button-square-30 {
  width: 30px;
  height: 30px;
  line-height: 24px;
}

.wpeo-table.table-flex .table-cell.table-25 {
  max-width: 25px;
  min-width: 25px;
}

.wpeo-table.table-flex .table-cell.table-50 {
  max-width: 50px;
  min-width: 50px;
}

.wpeo-table.table-flex .table-cell.table-75 {
  max-width: 75px;
  min-width: 75px;
}

.wpeo-table.table-flex .table-cell.table-100 {
  max-width: 100px;
  min-width: 100px;
}

.wpeo-table.table-flex .table-cell.table-125 {
  max-width: 125px;
  min-width: 125px;
}

.wpeo-table.table-flex .table-cell.table-150 {
  max-width: 150px;
  min-width: 150px;
}

.wpeo-table.table-flex .table-cell.table-175 {
  max-width: 175px;
  min-width: 175px;
}

.wpeo-table.table-flex .table-cell.table-200 {
  max-width: 200px;
  min-width: 200px;
}

.wpeo-table.table-flex .table-cell.table-225 {
  max-width: 225px;
  min-width: 225px;
}

.wpeo-table.table-flex .table-cell.table-250 {
  max-width: 250px;
  min-width: 250px;
}

.wpeo-table.table-flex .table-cell.table-275 {
  max-width: 275px;
  min-width: 275px;
}

.wpeo-table.table-flex .table-cell.table-300 {
  max-width: 300px;
  min-width: 300px;
}

.wpeo-table.table-flex .table-cell.table-325 {
  max-width: 325px;
  min-width: 325px;
}

.wpeo-table.table-flex .table-cell.table-350 {
  max-width: 350px;
  min-width: 350px;
}

.wpeo-table.table-flex .table-cell.table-375 {
  max-width: 375px;
  min-width: 375px;
}

.wpeo-table.table-flex .table-cell.table-400 {
  max-width: 400px;
  min-width: 400px;
}

/**
 * Interface de mise à jour des données
 */
.wpeo-modal .notice {
  margin-left: 0;
}

.wpeo-modal .wpeo-grid {
  width: 100%;
}

.wpeo-modal .item {
  display: block;
  background-color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: flex;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.wpeo-modal .item::after {
  display: block;
  content: '';
  clear: both;
}

.wpeo-modal .item .item-spin {
  width: 80px;
  position: relative;
  border-left: 6px solid #4c4c4c;
}

.wpeo-modal .item .item-spin .wps-spinner, .wpeo-modal .item .item-spin .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.wpeo-modal .item .item-spin .wps-spinner {
  opacity: 0;
  -webkit-transform: translate(-50%, -120%);
          transform: translate(-50%, -120%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.wpeo-modal .item .item-spin .icon {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.wpeo-modal .item .item-container {
  width: 100%;
  margin: auto 0;
  padding: 2em 2em 2em 0em;
}

.wpeo-modal .item .item-content .item-title {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  margin-bottom: 0.4em;
}

.wpeo-modal .item .item-content .item-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.wpeo-modal .item .item-progress {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
  padding: 0 1em;
  height: 26px;
  line-height: 26px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 2em;
}

.wpeo-modal .item .item-progress .item-progression {
  position: absolute;
  background-color: #47e58e;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.wpeo-modal .item .item-progress .item-stats {
  position: relative;
  font-size: 12px;
}

.wpeo-modal .item.in-progress-item {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.wpeo-modal .item.in-progress-item .item-spin {
  border-left: 6px solid #0d8aff;
}

.wpeo-modal .item.in-progress-item .item-spin .fa-spin {
  color: #0d8aff;
}

.wpeo-modal .item.in-progress-item .wps-spinner {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wpeo-modal .item.in-progress-item .icon {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  opacity: 0;
}

.wpeo-modal .item.done-item .item-spin {
  border-left: 6px solid #47e58e;
}

.wpeo-modal .item.done-item .icon::before {
  color: #47e58e;
}

.wpeo-modal .general-message {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

/** Metabox general */
.postbox .wps-metabox-subtitle {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.wpshop_page_wps-status .wpeo-wrap table {
  width: 100%;
}

.wpshop_page_wps-status .wpeo-wrap table tr td {
  padding: 10px;
}

.wpshop_page_wps-status .wpeo-wrap table tr td:first-child {
  width: 30%;
}

.wpshop_page_wps-status .wpeo-wrap table tr td:last-child {
  width: 70%;
}

.wpshop_page_wps-status .wpeo-wrap table tr .fa-check {
  color: green !important;
}

.wpshop_page_wps-status .wpeo-wrap table tr .fa-times {
  color: red !important;
}

#wp_product_title.postbox {
  border: 0;
  box-shadow: none;
  background: none;
}

#wp_product_title.postbox .postbox-header {
  display: none;
}

#wp_product_title.postbox .inside {
  margin-top: 0;
  padding: 0;
}

#wp_product_title.postbox .inside .wpeo-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
}

#wp_product_title.postbox .inside .wps-product-title {
  font-size: 23px;
  font-weight: 400;
  line-height: 1.3;
}

#wp_product_title.postbox .inside .wps-product-title-actions {
  margin-top: 0.4em;
}

#wp_product_title.postbox .inside .wps-sync {
  min-width: 200px;
  margin-left: auto;
}

#wp_product_title.postbox .inside .wps-sync .reference-id {
  margin: 0;
}

body.post-type-wps-product #post-body-content {
  margin-bottom: 0;
}

body.post-type-wps-product .wrap {
  margin-top: 30px !important;
}

body.post-type-wps-product h1.wp-heading-inline {
  display: none !important;
}

.wpeo-wrap {
  /** Synchro */
  /** Metabox List */
  /** Page Content */
}

.wpeo-wrap .wpeo-table.table-flex .reference-id {
  margin: 0;
}

.wpeo-wrap .wpeo-table.table-flex .reference-id li {
  margin-right: 0.6em;
  color: rgba(0, 0, 0, 0.4);
}

.wpeo-wrap .wpeo-table.table-flex .reference-id li:last-child {
  margin: 0;
}

.wpeo-wrap .wpeo-table.table-flex .reference-title {
  font-size: 20px;
}

.wpeo-wrap .wpeo-table.table-flex .reference-title a {
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.wpeo-wrap .wpeo-table.table-flex .reference-title a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.wpeo-wrap .wpeo-table.table-flex .reference-content {
  font-size: 14px;
  margin: 0.2em 0;
}

.wpeo-wrap .wpeo-table.table-flex .reference-content i {
  color: rgba(0, 0, 0, 0.2);
}

.wpeo-wrap .wpeo-table.table-flex .reference-actions {
  margin: 0.6em 0 0 0;
  line-height: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.wpeo-wrap .wpeo-table.table-flex .reference-actions li {
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding-right: 0.3em;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.wpeo-wrap .wpeo-table.table-flex .reference-actions li a {
  color: #1897e7;
  text-decoration: none;
}

.wpeo-wrap .wpeo-table.table-flex .reference-actions li a:hover {
  color: rgba(24, 151, 231, 0.7);
}

.wpeo-wrap .wpeo-table.table-flex .reference-actions li.delete a {
  color: #e05353;
}

.wpeo-wrap .wpeo-table.table-flex .reference-actions li.delete a:hover {
  color: rgba(224, 83, 83, 0.7);
}

.wpeo-wrap .wpeo-table.table-flex .reference-actions li:last-child {
  margin: 0;
  padding: 0;
  border-right: 0;
}

.wpeo-wrap .wpeo-table.table-flex .table-row:hover .reference-actions {
  opacity: 1;
  pointer-events: all;
}

.wpeo-wrap .wps-list-product img {
  display: block;
}

.wpeo-wrap .wpeo-table .list-contact .contact {
  margin-bottom: 0.6em;
}

.wpeo-wrap .wpeo-table .list-contact .contact:last-child {
  margin-bottom: 0;
}

.wpeo-wrap .wpeo-table .list-contact .contact-title {
  font-size: 16px;
}

.wpeo-wrap .wpeo-table .list-contact .contact-list-data {
  margin: 0;
}

.wpeo-wrap .wpeo-table .list-contact .contact-data {
  display: inline-block;
  margin: 0 0.4em 0 0;
}

.wpeo-wrap .wpeo-table .list-contact .contact-data:last-child {
  margin: 0;
}

.wpeo-wrap .wpeo-table .list-contact .contact-data i {
  color: rgba(0, 0, 0, 0.2);
}

.wpeo-wrap .wpeo-table .list-commercial .commercial-date {
  color: rgba(0, 0, 0, 0.4);
}

.wpeo-wrap .wpeo-table .list-commercial .commercial-title {
  color: #1897e7;
}

.wpeo-wrap .wpeo-table.table-flex {
  border: 0;
  background: #fff;
}

.wpeo-wrap .wpeo-table.table-flex .table-row.table-header {
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.wpeo-wrap .wpeo-table.table-flex .table-row.table-header .table-cell {
  color: rgba(0, 0, 0, 0.8);
}

.wpeo-wrap .wpeo-table.table-flex .table-row:not(.table-header):nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.02);
}

.wpeo-wrap .wpeo-table.table-flex .table-button-edit {
  color: #1897e7;
}

.wpeo-wrap .wpeo-table.table-flex input[type=date],
.wpeo-wrap .wpeo-table.table-flex input[type=datetime-local],
.wpeo-wrap .wpeo-table.table-flex input[type=datetime],
.wpeo-wrap .wpeo-table.table-flex input[type=email],
.wpeo-wrap .wpeo-table.table-flex input[type=month],
.wpeo-wrap .wpeo-table.table-flex input[type=number],
.wpeo-wrap .wpeo-table.table-flex input[type=password],
.wpeo-wrap .wpeo-table.table-flex input[type=search],
.wpeo-wrap .wpeo-table.table-flex input[type=tel],
.wpeo-wrap .wpeo-table.table-flex input[type=text],
.wpeo-wrap .wpeo-table.table-flex input[type=time],
.wpeo-wrap .wpeo-table.table-flex input[type=url],
.wpeo-wrap .wpeo-table.table-flex input[type=week],
.wpeo-wrap .wpeo-table.table-flex select,
.wpeo-wrap .wpeo-table.table-flex textarea {
  width: 100%;
}

.wpeo-wrap .wpeo-table td, .wpeo-wrap .wpeo-table th {
  border: 0;
}

.wpeo-wrap .wpeo-table td.table-end, .wpeo-wrap .wpeo-table th.table-end {
  text-align: right;
}

.wpeo-wrap .wpeo-table > tfoot {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
}

.wpeo-wrap .wpeo-table > tfoot td {
  padding: .2em .6em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.wpeo-wrap .wpeo-table a:not(.wpeo-button) {
  color: #1897e7;
  text-decoration: none;
}

.wpeo-wrap .wps-checkout-review-order-table tbody tr td:last-child, .wpeo-wrap .wps-checkout-review-order-table tfoot tr td:last-child {
  text-align: right;
}

.wpeo-wrap .wps-filter-bar > * {
  display: inline-block;
}

.wpeo-wrap .wps-filter-bar .wpeo-button {
  margin-right: 1em;
}

.wpeo-wrap .wps-sync .wps-sync-container {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5em;
}

.wpeo-wrap .wps-sync .reference-id li {
  display: block;
  margin-bottom: 0.4em;
}

.wpeo-wrap .wps-sync .reference-id li::after {
  display: block;
  content: '';
  clear: both;
}

.wpeo-wrap .wps-sync .reference-id li:last-child {
  margin-bottom: 0;
}

.wpeo-wrap .wps-sync .reference-id img {
  width: 20px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-right: 0.4em;
}

.wpeo-wrap .wps-sync .sync-action {
  margin: auto 0 auto auto;
}

.wpeo-wrap .wps-sync .sync-action .button-synchro {
  float: left;
  width: 25px;
  height: 25px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.wpeo-wrap .wps-sync .sync-action .button-synchro i {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.wpeo-wrap .wps-sync .sync-action .button-synchro:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

.wpeo-wrap .wps-sync .sync-action .button-synchro:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wpeo-wrap .wps-sync .sync-action .statut {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 0.6em;
  background: rgba(0, 0, 0, 0.1);
}

.wpeo-wrap .wps-sync .sync-action .statut.statut-grey {
  background: #ececec;
}

.wpeo-wrap .wps-sync .sync-action .statut.statut-green {
  background: #47e58e;
}

.wpeo-wrap .wps-sync .sync-action .statut.statut-orange {
  background: #e9ad4f;
}

.wpeo-wrap .wps-sync .sync-action .statut.statut-red {
  background: #e05353;
}

.wpeo-wrap .wps-metabox {
  background: #fff;
  padding: 2em;
  position: relative;
}

.wpeo-wrap .wps-metabox .metabox-title {
  font-weight: 300;
  font-size: 22px;
  margin: 0 0 1em 0;
}

.wpeo-wrap .wps-metabox .metabox-edit {
  position: absolute;
  top: 1em;
  right: 1em;
}

.wpeo-wrap .wps-metabox .metabox-list-title {
  font-size: 16px;
  margin: 0 0 1em 0;
}

.wpeo-wrap .wps-metabox .metabox-list {
  margin: 0;
}

.wpeo-wrap .wps-metabox .metabox-list li {
  margin: 0;
}

.wpeo-wrap .wps-metabox .metabox-list li span {
  font-weight: 700;
  margin-right: 0.4em;
}

.wpeo-wrap .page-header {
  display: -webkit-box;
  display: flex;
  padding-top: 9px;
  margin-bottom: 1.8em;
}

.wpeo-wrap .page-header h2 {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 29px;
}

.wpeo-wrap .page-header .wps-edit-title {
  margin: 0 0.6em;
  vertical-align: top;
}

.wpeo-wrap .page-header .wps-sync {
  margin: auto 1em;
}

.wpeo-wrap .wps-status {
  font-weight: 600;
}

.wpeo-wrap .wps-status.status-grey {
  color: #ababab;
}

.wpeo-wrap .wps-status.status-green {
  color: #19d854;
}

.wpeo-wrap .wps-status.status-orange {
  color: #ffa500;
}

.wpeo-wrap .wps-status.status-red {
  color: #ff1818;
}

.wpeo-wrap a:not(.wpeo-button) {
  color: #1897e7;
  text-decoration: none;
}

.notification-add-to-cart {
  width: 90%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 3em;
  bottom: auto;
}

.wpshop_page_wps-third-party .wpeo-wrap .page-header h2 {
  display: -webkit-box;
  display: flex;
}

.wpshop_page_wps-order .wpeo-wrap .page-header h2 {
  display: -webkit-box;
  display: flex;
}

/** Temporaire **/
.wp-admin select {
  height: auto !important;
}

.post-type-wps-order #post-body-content, .post-type-wps-order #titlediv {
  display: none;
}

.post-type-wps-proposal #post-body-content, .post-type-wps-proposal #titlediv {
  display: none;
}

#toplevel_page_wps-order .wp-first-item {
  display: none;
}

.synchro-single .filter-entry {
  width: 99.8%;
  padding: 10px;
}

.synchro-single .select {
  margin: 0;
  height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid black 1px;
}

.synchro-single .select li {
  display: block;
  padding: 10px;
  margin: 0;
}

.synchro-single .select li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0);
}

.synchro-single .select li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.synchro-single .select li:hover {
  color: white;
  background-color: #1897e7;
  cursor: pointer;
}

.synchro-single .select li.active {
  color: white;
  background-color: #1897e7;
}

.need-to-confirm .modal-container {
  max-width: 600px;
  max-height: 420px;
}

.need-to-confirm .modal-container .modal-content {
  height: 68%;
}

.choose {
  padding: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.choose:hover {
  background-color: #ececec;
}

.choose .wpeo-button.button-main {
  background-color: #272a35;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  text-align: center;
}

.mask h3 {
  font-size: 30px;
  color: white;
}

.mask .content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.fa-toggle-on {
  color: green;
}
